body {
    font-family: Poppins;
}

#divTools {
    display: none;
    text-align: center;
}

.tools {
    cursor: pointer;
}
.tools:hover {
    opacity: 75%;
}

#leftMenu {
    width: 19vw;
}

#logo {
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 5;
    top: 5;
}

#beta {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 34px;
    height: 50px;
    width: 90px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    -ms-transform: rotate(33deg); /* IE 9 */
    transform: rotate(33deg);
    position: absolute;
    right: 0;
    top: 30;
    opacity: .85;
}

#SpinBall {
    display: none;
    animation: spin 2s linear infinite;
    height:50px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.td {
  padding: 8px;
  font-size: 18px;
  color: #000c2b;
  vertical-align: middle;
}

.instructions {
    color: gray;
    font-size: 18px;
    padding: 6px;
}

.TeamYear {
  font-size: 16px;
  font-family: Arial;
}

.steps {
    display: table-cell;
    padding: 5px;
    width: 28vw;
}

.SeasonMessage {
    display: none;
    font-size: 22px;
    background-color: #000c2b;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

#PlayBall {
    background-color: lightskyblue;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
    padding: 15px;
    cursor: pointer;
    display: none;
}

#PlayBall:hover {
    opacity: 75%;
}

#RunSchedule {
    margin: auto;
    text-align: center;
}

#GoogleTeam {
    margin: auto;
}

#divShowTeams {
    overflow-y: scroll;
    height: 80vh;
    border-left: 1px solid blue;
}

#tblShowTeams {
    margin: auto;
}

#ulLineup {
    overflow-y: scroll;
    height: 50vh;
    text-align: right;
    margin: auto;
}

.lineup {
    padding: 10px;
    width: 250px;
    background-color: #e8f0fc;
    list-style-type: none;
    border: 1px solid #b5cff7;
    border-radius: 5px;
    cursor: -webkit-grab;
    cursor: grab;
    font-size: 14px;
    margin: auto;
}

.heading {
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}
