#imgSpinBall {
    display: none;
    animation: spin 2s linear infinite;
    height:50px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.steps {
    position: relative;
    display: table-cell;
    padding: 5px;
}

#divShowTeams {
    overflow-y: scroll;
    height: 300px;
}

.lineup {
    padding: 10px;
    width: 150px;
    background-color: #e8f0fc;
    list-style-type: none;
    border: 1px solid #b5cff7;
    border-radius: 5px;
    margin: auto;
    cursor: -webkit-grab;
    cursor: grab;
}

.heading {
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
}
